<html>

    <head>

        <meta charset="utf-8">

        <title>ATM | Dawsun</title>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="stylesheet" href="css/atm.css">

    </head>

    <body>

        <div id="screen">

            <h2 id="info"></h2>

        </div>


        <p id="copyright">Hit the ATM bruh</p>

        <script src="js/atm.js"></script>

    </body>

</html>